{% extends 'home/base.html' %}
{% load static %}

{% block title %}
About-us
{% endblock %}

{% block body %}
<section class="section bg-center bg-cover bg-fixed effect-section"
            style="background-image: url('{% static "img/about-9.jpg" %}');">
            <div class="mask dark-g-bg opacity-9"></div>
            <div class="img-effect bottom">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                    id="Layer_1" x="0px" y="0px" width="2560px" height="100px" viewBox="0 0 2560 100"
                    enable-background="new 0 0 2560 100" xml:space="preserve" class="injected-svg svg_img white-color">
                    <polygon id="Path" points="2560,0 2560,100 0,100 "></polygon>
                </svg>
            </div>
            <div class="container">
                <div class="row p-100px-tb xl-p-50px-tb">
                    <div class="col-lg-8">
                        <h1 class="display-4 font-w-700 white-color m-25px-b">This is about us page </h1>
                        <p class="lead m-0px white-color-light">Some discription of company Some discription of company Some discription of company Some discription of company</p>
                        <div class="go-to p-25px-t">
                            <a class="m-btn m-btn-white m-btn-radius" href="../contact">Write a message</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- section -->

        <section class="section">
            <div class="container">
                <div class="row justify-content-lg-between">
                    <div class="col-lg-5 m-15px-tb">
                        <label class="theme-bg white-color p-15px-lr border-radius-15 m-15px-b">About Us</label>
                        <h3 class="h1 font-w-700 dark-color m-0px">title about our self and our compnay </h3>
                    </div>
                    <div class="col-lg-6 m-15px-tb">
                        <p class="lead">Any famous quotes  Any famous quotes Any famous quotes  Any famous quotes Any famous quotes</p>
                        <p class="m-0px">title about our self and our compnay title about our self and our compnay title about our self and our compnay title about our self and our compnay title about our self and our compnay title about our self and our compnay title about our self and our compnay  title about our self and our compnay title about our self and our compnay.</p>
                    </div>
                </div>
                <div class="row lg-p-30px-t md-p-15px-t p-60px-t">
                    <div class="col-md m-15px-tb">
                        <div class="min-h-250px bg-cover bg-no-repeat border-radius-5 box-shadow"
                            style="background-image: url('{% static "img/about-5.jpg" %}');">
                        </div>
                    </div>
                    <div class="col-md-3 m-15px-tb">
                        <div class="min-h-250px bg-cover bg-no-repeat border-radius-5 box-shadow"
                            style="background-image: url('{% static "img/about-4.jpg" %}');">
                        </div>
                    </div>
                    <div class="col-md m-15px-tb">
                        <div class="min-h-250px bg-cover bg-no-repeat border-radius-5 box-shadow"
                            style="background-image: url('{% static "img/about-10.jpg" %}');">
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-md m-15px-tb">
                        <div class="min-h-250px bg-cover bg-no-repeat border-radius-5 box-shadow"
                            style="background-image: url('{% static "img/about-7.jpg" %}');">
                        </div>
                    </div>
                    <div class="col-md-4 m-15px-tb">
                        <div class="min-h-250px bg-cover bg-no-repeat border-radius-5 box-shadow"
                            style="background-image: url('{% static "img/about-11.jpg" %}');">
                        </div>
                    </div>
                    <div class="col-md m-15px-tb">
                        <div class="min-h-250px bg-cover bg-no-repeat border-radius-5 box-shadow"
                            style="background-image: url('{% static "img/about-8.jpg" %}');">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End section -->


        <!-- End Page Title -->

      

        <!-- Section -->
        <section class="section">
            <div class="container">
                <div class="row section-title m-30px-b md-m-20px-b justify-content-center text-center">
                    <div class="col-lg-8">
                        <label class="font-w-700 m-10px-b theme-color">Our work</label>
                        <h3 class="display-4 dark-color m-20px-b">Greatly simplified workflow</h3>
                        <div class="lead">Greatly simplified workflow Greatly simplified workflow Greatly simplified workflow Greatly simplified workflow Greatly simplified workflow Greatly simplified workflow.</div>
                    </div>
                </div>
                <div class="row justify-content-around align-items-center m-35px-b">
                    <div class="col-md-10 col-lg-8 m-15px-tb">
                        <div class="border-radius-5 box-shadow">
                            <img class="rounded" src='{% static "img/about-11.jpg" %}' title="" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->

        <!-- Section -->
         
        <section class="section theme-bg">
            <div class="container">
                <div class="row section-title md-m-25px-b m-45px-b justify-content-center text-center">
                    <div class="col-lg-8">
                        <label class="font-w-700 m-10px-b dark-bg white-color font-small p-15px-lr p-5px-tb border-radius-15 m-20px-b">company scale</label>
                        <h3 class="display-4 white-color m-20px-b">Greatly simplified workflow</h3>
                        <div class="lead white-color-light">our total market and our customers our total market and our customers our total market and our customers our total market and our customers our total market and our customers </div>
                    </div>
                </div>
                <div class="row justify-content-center counter">
                    <div class="col-sm-6 col-md-3 m-15px-tb">
                        <div class="counter-data white-bg p-30px-tb text-center border-radius-5">
                            <div class="display-4 font-w-700 theme-color m-10px-b">
                                <span class="count" data-to="25" data-speed="25">25</span><span class="font-w-300">k</span>
                            </div>
                            <h6 class="dark-color h5 font-w-600 m-0px">Customers</h6>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 m-15px-tb">
                        <div class="counter-data white-bg p-30px-tb text-center border-radius-5">
                            <div class="display-4 font-w-700 theme-color m-10px-b">
                                <span class="count" data-to="15" data-speed="15">15</span><span class="font-w-300">k</span>
                            </div>
                            <h6 class="dark-color h5 font-w-600 m-0px">clients</h6>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 m-15px-tb">
                        <div class="counter-data white-bg p-30px-tb text-center border-radius-5">
                            <div class="display-4 font-w-700 theme-color m-10px-b">
                                <span class="count" data-to="35" data-speed="35">35</span><span class="font-w-300">k</span>
                            </div>
                            <h6 class="dark-color h5 font-w-600 m-0px">Downloads</h6>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 m-15px-tb">
                        <div class="counter-data white-bg p-30px-tb text-center border-radius-5">
                            <div class="display-4 font-w-700 theme-color m-10px-b">
                                <span class="count" data-to="98" data-speed="98">98</span><span class="font-w-300">%</span>
                            </div>
                            <h6 class="dark-color h5 font-w-600 m-0px">Happy users</h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>
           
        <!--End Section  -->

        <!-- Section -->
        <section class="section gray-bg">
            <div class="container">
                <div class="row section-title md-m-25px-b m-45px-b justify-content-center text-center">
                    <div class="col-lg-8">
                        <label class="theme-bg-alt p-15px-lr p-5px-tb font-small border-radius-15 theme-color">Our
                            Team</label>
                        <h3 class="display-4 dark-color m-20px-b">Creative People</h3>
                        <div class="lead"> discription about the team  discription about the team  discription about the team  discription about the team .</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6 m-15px-tb">
                        <div class="white-bg box-shadow-hover p-25px border-radius-5 transition hover-top">
                            <div class="img-80 border-radius-50">
                                <img src="{% static 'img/team1.jpg' %}" title="" alt="">
                            </div>
                            <h6 class="font-w-700 dark-color m-0px m-5px-b p-15px-t">Full Name</h6>
                            <div class="font-small p-10px-b">Founder / CEO</div>
                            <p class="m-20px-b">about the person about the person  about the person  about the person about the person                             </p>
                            <div class="social-icon si-30 gray round nav">
                                <a href="../"><i class="fab fa-facebook-f"></i></a>
                                <a href="../"><i class="fab fa-twitter"></i></a>
                                <a href="../"><i class="fab fa-linkedin-in"></i></a>
                                <a href="../"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 m-15px-tb">
                        <div class="white-bg box-shadow-hover p-25px border-radius-5 transition hover-top">
                            <div class="img-80 border-radius-50">
                                <img src="{% static 'img/team2.jpg' %}" title="" alt="">
                            </div>
                            <h6 class="font-w-700 dark-color m-0px m-5px-b p-15px-t">Full Name</h6>
                            <div class="font-small p-10px-b">Founder / CEO</div>
                            <p class="m-20px-b">about the person about the person  about the person  about the person about the person                             </p>
                            <div class="social-icon si-30 gray round nav">
                                <a href="../"><i class="fab fa-facebook-f"></i></a>
                                <a href="../"><i class="fab fa-twitter"></i></a>
                                <a href="../"><i class="fab fa-linkedin-in"></i></a>
                                <a href="../"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 m-15px-tb">
                        <div class="white-bg box-shadow-hover p-25px border-radius-5 transition hover-top">
                            <div class="img-80 border-radius-50">
                                <img src="{% static 'img/team3.jpg' %}" title="" alt="">
                            </div>
                            <h6 class="font-w-700 dark-color m-0px m-5px-b p-15px-t">Full Name</h6>
                            <div class="font-small p-10px-b">Founder / CEO</div>
                            <p class="m-20px-b">about the person about the person  about the person  about the person about the person                             </p>
                            <div class="social-icon si-30 gray round nav">
                                <a href="../"><i class="fab fa-facebook-f"></i></a>
                                <a href="../"><i class="fab fa-twitter"></i></a>
                                <a href="../"><i class="fab fa-linkedin-in"></i></a>
                                <a href="../"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 m-15px-tb">
                        <div class="white-bg box-shadow-hover p-25px border-radius-5 transition hover-top">
                            <div class="img-80 border-radius-50">
                                <img src="{% static 'img/team4.jpg' %}" title="" alt="">
                            </div>
                            <h6 class="font-w-700 dark-color m-0px m-5px-b p-15px-t">Full Name</h6>
                            <div class="font-small p-10px-b">Founder / CEO</div>
                            <p class="m-20px-b">about the person about the person  about the person  about the person about the person                             </p>
                            <div class="social-icon si-30 gray round nav">
                                <a href="../"><i class="fab fa-facebook-f"></i></a>
                                <a href="../"><i class="fab fa-twitter"></i></a>
                                <a href="../"><i class="fab fa-linkedin-in"></i></a>
                                <a href="../"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center m-25px-t">
                        <div class="text-center d-inline-block">
                            <div
                                class="d-flex m-auto box-shadow white-bg p-10px border-radius-5 align-items-center text-left small">
                                <span
                                    class="font-small theme-bg white-color p-5px-tb p-15px-lr border-radius-5 m-0px">New</span>
                                <span class="m-0px p-10px-lr">We are hiring. <a href="../career">Send your
                                        application</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->
{% endblock %}

