{% extends 'home/base.html' %}
{% load static %}

{% block title %}
About-us
{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h1 class="display-4 dark-color">Job openings</h1>
                <p class="lead m-0px">We are a professional digital agency We are a professional digital agency  We are a professional digital agency  We are a professional digital agency </p>
                <div class="p-25px-t m-btn-dual">
                    <a class="m-btn m-btn-theme m-btn-radius" href="../contact">Contact us</a>
                    <a class="m-btn m-btn-t-theme m-btn-radius" href="../contact">Apply Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Page Title -->

<!-- Section -->
<section class="section gray-bg">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5 m-15px-tb">
                <h2 class="h1 font-w-700 dark-color m-15px-b">Our core values!</h2>
                <p class="lead m-25px-b">Here will be some discription Here will be some discription Here will be some discription Here will be some discriptionHere will be some discriptionHere will be some discriptionHere will be some discription Here will be some discription.</p>
                <div class="row p-30px-b">
                    <div class="col-6">
                        <div class="d-flex align-items-center p-5px-tb">
                            <div><i class="fas fa-check icon icon-sm yellow-color yellow-bg-alt border-radius-50"></i></div>
                            <div class="p-10px-l font-w-600">Empathy</div>
                        </div>
                        <div class="d-flex align-items-center p-5px-tb">
                            <div><i class="fas fa-check icon icon-sm blue-color blue-bg-alt border-radius-50"></i></div>
                            <div class="p-10px-l font-w-600">Courtesy</div>
                        </div>
                        <div class="d-flex align-items-center p-5px-tb">
                            <div><i class="fas fa-check icon icon-sm pink-color pink-bg-alt border-radius-50"></i></div>
                            <div class="p-10px-l font-w-600">Thriving</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex align-items-center p-5px-tb">
                            <div><i class="fas fa-check icon icon-sm yellow-color yellow-bg-alt border-radius-50"></i></div>
                            <div class="p-10px-l font-w-600">Craftsmanship</div>
                        </div>
                        <div class="d-flex align-items-center p-5px-tb">
                            <div><i class="fas fa-check icon icon-sm blue-color blue-bg-alt border-radius-50"></i></div>
                            <div class="p-10px-l font-w-600">Playfulness</div>
                        </div>
                        <div class="d-flex align-items-center p-5px-tb">
                            <div><i class="fas fa-check icon icon-sm pink-color pink-bg-alt border-radius-50"></i></div>
                            <div class="p-10px-l font-w-600">Solidarity</div>
                        </div>
                    </div>
                </div>
                <a class="m-btn m-btn-theme m-btn-radius" href="../">Apply Now</a>
            </div>
            <div class="col-lg-6 m-15px-tb">
                <div class="row">
                    <div class="col">
                        <div class="min-h-350px bg-cover bg-no-repeat bg-center border-radius-5 box-shadow" style="background-image: url('{% static "img/about-9.jpg" %}');">
                        </div>
                    </div>
                    <div class="col">
                        <div class="min-h-350px bg-cover bg-no-repeat bg-center border-radius-5 box-shadow" style="background-image: url('{% static "img/about-10.jpg" %}');">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->

<!-- Section -->
<section class="section">
    <div class="container">
        <div class="row section-title justify-content-center text-center sm-p-25px-b m-45px-b">
            <div class="col-lg-7">
                <label class="theme-bg-alt p-15px-lr p-5px-tb font-small border-radius-15 theme-color">Benefits</label>
                <h3 class="h1 font-w-700 dark-color m-10px-b">Why join us?</h3>
                <p class="lead">Here will be some discription Here will be some discription Here will be some discription Here will be some discriptionHere will be some discriptionHere will be some discriptionHere will be some discription Here will be some discription.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 p-20px-t p-15px-b">
                <div class="d-flex">
                    <div>
                        <div class="icon icon theme-color theme-bg-alt border-radius-5"><i>1</i></div>
                    </div>
                    <div class="p-20px-l">
                        <h5 class="font-w-700 dark-color">Fast growing company</h5>
                        <p> some thing about the title some thing about the title some thing about the title</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 p-20px-t p-15px-b">
                <div class="d-flex">
                    <div>
                        <div class="icon icon theme-color theme-bg-alt border-radius-5"><i>2</i></div>
                    </div>
                    <div class="p-20px-l">
                        <h5 class="font-w-700 dark-color">Great Colleagues</h5>
                        <p> some thing about the title some thing about the title some thing about the title</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 p-20px-t p-15px-b">
                <div class="d-flex">
                    <div>
                        <div class="icon icon theme-color theme-bg-alt border-radius-5"><i>3</i></div>
                    </div>
                    <div class="p-20px-l">
                        <h5 class="font-w-700 dark-color">Take Charge</h5>
                        <p> some thing about the title some thing about the title some thing about the title</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 p-20px-t p-15px-b">
                <div class="d-flex">
                    <div>
                        <div class="icon icon theme-color theme-bg-alt border-radius-5"><i>4</i></div>
                    </div>
                    <div class="p-20px-l">
                        <h5 class="font-w-700 dark-color">Don't stop learning</h5>
                        <p> some thing about the title some thing about the title some thing about the title</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 p-20px-t p-15px-b">
                <div class="d-flex">
                    <div>
                        <div class="icon icon theme-color theme-bg-alt border-radius-5"><i>5</i></div>
                    </div>
                    <div class="p-20px-l">
                        <h5 class="font-w-700 dark-color">Latest technology Front</h5>
                        <p> some thing about the title some thing about the title some thing about the title</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 p-20px-t p-15px-b">
                <div class="d-flex">
                    <div>
                        <div class="icon icon theme-color theme-bg-alt border-radius-5"><i>6</i></div>
                    </div>
                    <div class="p-20px-l">
                        <h5 class="font-w-700 dark-color">Cross domain exposure</h5>
                        <p> some thing about the title some thing about the title some thing about the title</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->


<!-- Section -->
<section class="section">
    <div class="container">
        <div class="row section-title md-m-25px-b m-40px-b justify-content-center text-center">
            <div class="col-lg-8">
                <label class="theme-bg-alt p-15px-lr p-5px-tb font-small border-radius-15 theme-color">Opening</label>
                <h3 class="h1 dark-color font-w-700 m-20px-b">We help businesses grow</h3>
                <p class="m-0px">Here will be some discription Here will be some discription Here will be some discription Here will be some discriptionHere will be some discriptionHere will be some discriptionHere will be some discription Here will be some discription.</p>
            </div>
        </div>
        <div class="m-40px-b p-15px-t">
            <form class="d-flex flex-column flex-md-row m-5px-b">
                <input type="text" class="form-control md-m-0px-r m-20px-r md-m-10px-b" placeholder="Search Jobs">
                <select class="custom-select md-m-0px-r m-20px-r md-m-10px-b">
                    <option selected="">All locations</option>
                    <option value="location1">Chicago, US</option>
                    <option value="location2">New York, US</option>
                    <option value="location3">Seattle/Kirkland, US</option>
                    <option value="location4">Los Angles, US</option>
                    <option value="location5">Moscow, Russia</option>
                    <option value="location6">Sydney, Australia</option>
                    <option value="location7">Birmingham, UK</option>
                    <option value="location7">Manchester, UK</option>
                    <option value="location8">Beijing, China</option>
                </select>
                <button class="m-btn m-btn-theme m-btn-radius flex-shrink-0" type="submit">Search Job</button>
            </form>
        </div>
        <div class="m-40px-b">
            <div class="m-20px-b">
                <span class="d-inlin-block theme-bg-alt theme-color border-radius-15 font-small p-5px-tb p-15px-lr">Analytics</span>
            </div>
            <a class="card card-frame m-15px-b" href="../contact">
                <div class="card-body p-15px-tb p-25px-lr">
                    <span class="row justify-content-sm-between align-items-sm-center">
                        <span class="col-sm-6 m-5px-tb dark-color">
                            Business Strategy Manager
                        </span>
                        <span class="col-sm-6 m-5px-tb text-sm-right">
                            Chicago, US
                            <span class="fas fa-arrow-right small m-5px-l"></span>
                        </span>
                    </span>
                </div>
            </a>
            <a class="card card-frame m-15px-b" href="careers-single.html">
                <div class="card-body p-15px-tb p-25px-lr">
                    <span class="row justify-content-sm-between align-items-sm-center">
                        <span class="col-sm-6 m-5px-tb dark-color">
                            Business Strategy Manager
                        </span>
                        <span class="col-sm-6 m-5px-tb text-sm-right">
                            Chicago, US
                            <span class="fas fa-arrow-right small m-5px-l"></span>
                        </span>
                    </span>
                </div>
            </a>
            <a class="card card-frame m-15px-b" href="careers-single.html">
                <div class="card-body p-15px-tb p-25px-lr">
                    <span class="row justify-content-sm-between align-items-sm-center">
                        <span class="col-sm-6 m-5px-tb dark-color">
                            Business Strategy Manager
                        </span>
                        <span class="col-sm-6 m-5px-tb text-sm-right">
                            Chicago, US
                            <span class="fas fa-arrow-right small m-5px-l"></span>
                        </span>
                    </span>
                </div>
            </a>
            <a class="card card-frame m-15px-b" href="../contact">
                <div class="card-body p-15px-tb p-25px-lr">
                    <span class="row justify-content-sm-between align-items-sm-center">
                        <span class="col-sm-6 m-5px-tb dark-color">
                            Business Strategy Manager
                        </span>
                        <span class="col-sm-6 m-5px-tb text-sm-right">
                            Chicago, US
                            <span class="fas fa-arrow-right small m-5px-l"></span>
                        </span>
                    </span>
                </div>
            </a>
        </div>
        <div class="m-40px-b">
            <div class="m-20px-b">
                <span class="d-inlin-block green-bg-alt green-color border-radius-15 font-small p-5px-tb p-15px-lr">Analytics</span>
            </div>
            <a class="card card-frame m-15px-b" href="../contact">
                <div class="card-body p-15px-tb p-25px-lr">
                    <span class="row justify-content-sm-between align-items-sm-center">
                        <span class="col-sm-6 m-5px-tb dark-color">
                            Business Strategy Manager
                        </span>
                        <span class="col-sm-6 m-5px-tb text-sm-right">
                            Chicago, US
                            <span class="fas fa-arrow-right small m-5px-l"></span>
                        </span>
                    </span>
                </div>
            </a>
            <a class="card card-frame m-15px-b" href="../contact">
                <div class="card-body p-15px-tb p-25px-lr">
                    <span class="row justify-content-sm-between align-items-sm-center">
                        <span class="col-sm-6 m-5px-tb dark-color">
                            Business Strategy Manager
                        </span>
                        <span class="col-sm-6 m-5px-tb text-sm-right">
                            Chicago, US
                            <span class="fas fa-arrow-right small m-5px-l"></span>
                        </span>
                    </span>
                </div>
            </a>
            <a class="card card-frame m-15px-b" href="../contact">
                <div class="card-body p-15px-tb p-25px-lr">
                    <span class="row justify-content-sm-between align-items-sm-center">
                        <span class="col-sm-6 m-5px-tb dark-color">
                            Business Strategy Manager
                        </span>
                        <span class="col-sm-6 m-5px-tb text-sm-right">
                            Chicago, US
                            <span class="fas fa-arrow-right small m-5px-l"></span>
                        </span>
                    </span>
                </div>
            </a>
        </div>
        <div>
            <div class="m-20px-b">
                <span class="d-inlin-block pink-bg-alt pink-color border-radius-15 font-small p-5px-tb p-15px-lr">Analytics</span>
            </div>
            <a class="card card-frame m-15px-b" href="../contact">
                <div class="card-body p-15px-tb p-25px-lr">
                    <span class="row justify-content-sm-between align-items-sm-center">
                        <span class="col-sm-6 m-5px-tb dark-color">
                            Business Strategy Manager
                        </span>
                        <span class="col-sm-6 m-5px-tb text-sm-right">
                            Chicago, US
                            <span class="fas fa-arrow-right small m-5px-l"></span>
                        </span>
                    </span>
                </div>
            </a>
            <a class="card card-frame m-15px-b" href="../contact">
                <div class="card-body p-15px-tb p-25px-lr">
                    <span class="row justify-content-sm-between align-items-sm-center">
                        <span class="col-sm-6 m-5px-tb dark-color">
                            Business Strategy Manager
                        </span>
                        <span class="col-sm-6 m-5px-tb text-sm-right">
                            Chicago, US
                            <span class="fas fa-arrow-right small m-5px-l"></span>
                        </span>
                    </span>
                </div>
            </a>
        </div>
    </div>
</section>
<!-- End Section -->
{% endblock %}