{% load static %}
<footer class="dark-bg footer">
    <div class="footer-top p-60px-tb md-p-40px-t md-p-20px-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 m-15px-tb">
                    <img src="{% static 'img/logo_light1.jpg' %}" title="" alt="">
                </div>
                <div class="col-6 col-lg-2 m-15px-tb">
                    <h5 class="white-color">
                        Useful
                    </h5>
                    <ul class="list-unstyled links-white">
                        <li>
                            <a href="../">our services</a>
                        </li>
                        <li>
                            <a href="../">Google Store</a>
                        </li>
                        <li>
                            <a href="../">Latest News</a>
                        </li>
                        <li>
                            <a href="../">Our Blog</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 m-15px-tb">
                    <h5 class="white-color">
                        Services
                    </h5>
                    <ul class="list-unstyled links-white">
                        <li>
                            <a href="../">Marketing</a>
                        </li>
                        <li>
                            <a href="../">sells</a>
                        </li>
                        <li>
                            <a href="../">Business</a>
                        </li>
                        <li>
                            <a href="../">Services</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 m-15px-tb">
                    <h5 class="white-color">
                        Stay up to date
                    </h5>
                    <form>
                        <div class="d-flex flex-column flex-md-row m-5px-b">
                            <input type="email" class="form-control m-5px-r md-m-0px-r md-m-10px-b" placeholder="Enter your username">
                            <button class="m-btn m-btn-theme m-btn-radius flex-shrink-0" type="submit">Get Started</button>
                        </div>
                        <p class="white-color-light m-0px font-small p-10px-t">We are here to serve</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom border-color-white-rgb border-top-1 p-20px-tb">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-left">
                    <p class="m-0px white-color-light"><small>© 2020 Doctro's Best Pvt Ltd. || Create by <b>Atul Patle</b></small></p>
                </div>
                <div class="col-md-6">
                    <div class="nav justify-content-center justify-content-md-end social-icon si-30 white-icon">
                        <a href="../"><i class="fab fa-facebook-f"></i></a>
                        <a href="../"><i class="fab fa-twitter"></i></a>
                        <a href="../"><i class="fab fa-instagram"></i></a>
                        <a href="../"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>