{% extends 'home/base.html' %}
{% load static %}

{% block title %}
Home-page
{% endblock %}

{% block body %}
<!-- Main -->
        <!-- Home Banner -->
        <section class="bg-center bg-cover bg-fiexd" style="background-image: url('{% static "img/banner-bg-2.jpg" %}');">


            <div class="container">
                <div class="row full-screen align-items-center justify-content-between p-100px-tb">
                    <div class="col-lg-6 m-15px-tb m-50px-t lg-m-10px-t">
                        <h6 class="lead white-color m-15px-b">Join with us!</h6>
                        <h1 class="white-color display-4 m-20px-b">Welcome to Doctor's Best pvt Ltd.</h1>
                        <p class="lead font-w-400 white-color-light"> here will the short description of the here will
                            the short description of the here will the short description of the
                        </p>
                    </div>
                    <div class="col-lg-5 m-15px-tb m-60px-t lg-m-10px-t">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="font-w-700 dark-color m-25px-b">Lets Talk with Us </h4>
                                <form>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Enter your Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Enter your email address">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="6" name="answer"
                                            placeholder="Your Message!" aria-label="How'd you hear about Front?"
                                            required="" data-msg="Please enter an answer."
                                            data-error-class="u-has-error"
                                            data-success-class="u-has-success"></textarea>
                                    </div>
                                    <div>
                                        <button class="m-btn m-btn-theme m-btn-radius w-100" type="submit">Send
                                            Message</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Section -->
        <section class="section border-bottom-1 border-color-gray">
            <div class="container">
                <div class="row section-title md-m-25px-b m-45px-b justify-content-center text-center">
                    <div class="col-lg-8">
                        <h3 class="display-4 dark-color m-10px-b">Do more with Doctor's Best</h3>
                        <div class="lead font-w-400">Here will be some discription of the compnay work Here will be some
                            discription of the compnay work .</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 m-15px-tb">
                        <div class="card card-body box-shadow-hover transition hover-top">
                            <div class="icon-lg border-radius-5  theme-bg-alt theme-color">
                                <i class="fas fa-apple-alt"></i>
                            </div>
                            <h5 class="dark-color font-w-700 p-25px-t m-10px-b">Digital Marketing</h5>
                            <p class="m-15px-b">Some content about the digital marketing Some content about the digital
                                marketing digital marketing digital marketing .</p>
                            <a class="font-w-700" href="../">Learn More</a>
                        </div>
                    </div>

                    <div class="col-md-4 m-15px-tb">
                        <div class="card card-body box-shadow-hover transition hover-top">
                            <div class="icon-lg border-radius-5  theme-bg-alt theme-color">
                                <i class="fab fa-angular"></i>
                            </div>
                            <h5 class="dark-color font-w-700 p-25px-t m-10px-b">Import & Export</h5>
                            <p class="m-15px-b">Here some discription about the import and Exort model about the
                                Doctor's Best Here some discription about </p>
                            <a class="font-w-700" href="../">Learn More</a>
                        </div>
                    </div>

                    <div class="col-md-4 m-15px-tb">
                        <div class="card card-body box-shadow-hover transition hover-top">
                            <div class="icon-lg border-radius-5  theme-bg-alt theme-color">
                                <i class="fab fa-adobe"></i>
                            </div>
                            <h5 class="dark-color font-w-700 p-25px-t m-10px-b">Careers</h5>
                            <p class="m-15px-b">Here some discription about the Doctor's Best careers Here some
                                discription about the Doctor's Best careers Best careers .</p>
                            <a class="font-w-700" href="../">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->

        <!-- Section -->
        <section class="section gray-bg">
            <div class="container">
                <div class="row section-title md-m-25px-b m-45px-b justify-content-center text-center">
                    <div class="col-lg-8">
                        <label class="theme-bg-alt p-15px-lr p-5px-tb font-small border-radius-15 theme-color">Welcome
                            Home</label>
                        <h3 class="display-4 dark-color m-15px-b">Greatly simplified workflow</h3>
                        <div class="lead">Here will be some discription about the our company work and work flow.
                            Here will be some discription about the our company work and work flow..</div>
                    </div>
                </div>
                <div class="row justify-content-around align-items-center">
                    <div class="col-md-6 col-lg-5 m-15px-tb">
                        <div class="border-radius-5 box-shadow">
                            <img class="rounded" src="{% static 'img/about-1.jpg' %}" title="" alt="">
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-5 m-15px-tb">
                        <label class="blue-bg white-color p-15px-lr border-radius-15 p-5px-tb font-small m-15px-b">How
                            we work</label>
                        <h2 class="font-w-700 dark-color m-15px-b">How Doctor's best do this business</h2>
                        </h2>
                        <p>Some discription about the Doctor's best. Some discription about the Doctor's best. Some
                            discription about the Doctor's best.</p>
                        <div class="media align-items-center p-10px-tb">
                            <div class="icon-sm theme-color border-radius-50 theme-bg-alt">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="media-body p-10px-l font-w-600">sell medicines</div>
                        </div>
                        <div class="media align-items-center p-10px-tb">
                            <div class="icon-sm theme-color border-radius-50 theme-bg-alt">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="media-body p-10px-l font-w-600">medicines medicines</div>
                        </div>
                        <div class="media align-items-center p-10px-tb">
                            <div class="icon-sm theme-color border-radius-50 theme-bg-alt">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="media-body p-10px-l font-w-600"> medicines Marketing</div>
                        </div>
                        <div class="m-20px-t">
                            <a class="m-btn m-btn-radius m-btn-theme" href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-around align-items-center p-100px-t  md-p-60px-t md-p-20px-t">
                    <div class="col-md-6 col-lg-5 m-15px-tb order-md-first order-last">
                        <label class="blue-bg white-color p-15px-lr border-radius-15 p-5px-tb font-small m-15px-b">How
                            we work</label>
                        <h2 class="font-w-700 dark-color m-15px-b">How Doctor's best do this business
                        </h2>
                        <p>Some discription about the Doctor's best. Some discription about the Doctor's best. Some
                            discription about the Doctor's best</p>
                        <div class="media align-items-center p-10px-tb">
                            <div class="icon-sm theme-color border-radius-50 theme-bg-alt">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="media-body p-10px-l font-w-600">medicines medicines</div>
                        </div>
                        <div class="media align-items-center p-10px-tb">
                            <div class="icon-sm theme-color border-radius-50 theme-bg-alt">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="media-body p-10px-l font-w-600">Quality medicines</div>
                        </div>
                        <div class="media align-items-center p-10px-tb">
                            <div class="icon-sm theme-color border-radius-50 theme-bg-alt">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="media-body p-10px-l font-w-600">medicines marketing</div>
                        </div>
                        <div class="m-20px-t">
                            <a class="m-btn m-btn-radius m-btn-theme" href="#">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 m-15px-tb">
                        <div class="border-radius-5 box-shadow">
                            <img class="rounded" src="{% static 'img/about-2.jpg' %}" title="" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->

        <!-- Section -->
        <section class="section theme-g-bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2 class="display-4 white-color m-20px-b">Complete features at your hand</h2>
                        <p class="white-color-light lead m-0px">Here will be some content about the our features and
                            careers where everybody can join our compnay.</p>
                        <div class="p-25px-t m-btn-dual">
                            <a class="m-btn m-btn-radius m-btn-white" href="../">Go to career Page</a>
                            <a class="m-btn m-btn-radius m-btn-light" href="../">Read Our Blogs</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->

        <!-- Section -->
        <section class="section border-bottom-1 border-color-gray">
            <div class="container">
                <div class="row section-title md-m-25px-b m-45px-b justify-content-center text-center">
                    <div class="col-lg-8">
                        <h3 class="display-4 dark-color m-10px-b"> Our All plans includes</h3>
                        <div class="lead">here will be our price discription according to the Quality here will be our
                            price discription according to the Quality
                            here will be our price discription according to the Quality </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-3 m-15px-tb">
                        <div class="price-table card box-shadow-hover transition hover-top border-radius-5">
                            <div class="pt-head p-20px-tb text-center border-bottom-1 border-color-gray">
                                <h5 class="blue-color font-w-700">heading 1</h5>
                                <div class="display-4 m-20px-t dark-color"><small
                                        class="align-top font-w-700 font-2">$</small>22</div>
                                <span class="d-block text-secondary font-size-1">title</span>
                            </div>
                            <div class="pt-body p-20px">
                                <div class="d-flex align-items-center p-5px-tb">
                                    <div><i
                                            class="fas fa-check icon icon-sm theme-color theme-bg-alt border-radius-50"></i>
                                    </div>
                                    <div class="p-10px-l font-w-600">aaaaaaa</div>
                                </div>
                                <div class="d-flex align-items-center p-5px-tb">
                                    <div><i
                                            class="fas fa-check icon icon-sm theme-color theme-bg-alt border-radius-50"></i>
                                    </div>
                                    <div class="p-10px-l font-w-600">aaaaaaa</div>
                                </div>
                                <div class="p-20px-t">
                                    <a class="m-btn w-100 m-btn-theme m-btn-radius" href="#">check out more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3 m-15px-tb">
                        <div class="price-table card box-shadow-hover transition hover-top border-radius-5">
                            <div class="pt-head p-20px-tb text-center border-bottom-1 border-color-gray">
                                <h5 class="blue-color font-w-700">heading 1</h5>
                                <div class="display-4 m-20px-t dark-color"><small
                                        class="align-top font-w-700 font-2">$</small>22</div>
                                <span class="d-block text-secondary font-size-1">title</span>
                            </div>
                            <div class="pt-body p-20px">
                                <div class="d-flex align-items-center p-5px-tb">
                                    <div><i
                                            class="fas fa-check icon icon-sm theme-color theme-bg-alt border-radius-50"></i>
                                    </div>
                                    <div class="p-10px-l font-w-600">aaaaaaa</div>
                                </div>
                                <div class="d-flex align-items-center p-5px-tb">
                                    <div><i
                                            class="fas fa-check icon icon-sm theme-color theme-bg-alt border-radius-50"></i>
                                    </div>
                                    <div class="p-10px-l font-w-600">aaaaaaa</div>
                                </div>
                                <div class="d-flex align-items-center p-5px-tb">
                                    <div><i
                                            class="fas fa-check icon icon-sm theme-color theme-bg-alt border-radius-50"></i>
                                    </div>
                                    <div class="p-10px-l font-w-600">aaaaaaa</div>
                                </div>
                                <div class="p-20px-t">
                                    <a class="m-btn w-100 m-btn-theme m-btn-radius" href="#">check out more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3 m-15px-tb">
                        <div class="price-table card box-shadow-hover transition hover-top border-radius-5">
                            <div class="pt-head p-20px-tb text-center border-bottom-1 border-color-gray">
                                <h5 class="blue-color font-w-700">heading 1</h5>
                                <div class="display-4 m-20px-t dark-color"><small
                                        class="align-top font-w-700 font-2">$</small>22</div>
                                <span class="d-block text-secondary font-size-1">title</span>
                            </div>
                            <div class="pt-body p-20px">
                                <div class="d-flex align-items-center p-5px-tb">
                                    <div><i
                                            class="fas fa-check icon icon-sm theme-color theme-bg-alt border-radius-50"></i>
                                    </div>
                                    <div class="p-10px-l font-w-600">aaaaaaa</div>
                                </div>
                                <div class="d-flex align-items-center p-5px-tb">
                                    <div><i
                                            class="fas fa-check icon icon-sm theme-color theme-bg-alt border-radius-50"></i>
                                    </div>
                                    <div class="p-10px-l font-w-600">aaaaaaa</div>
                                </div>
                                <div class="d-flex align-items-center p-5px-tb">
                                    <div><i
                                            class="fas fa-check icon icon-sm theme-color theme-bg-alt border-radius-50"></i>
                                    </div>
                                    <div class="p-10px-l font-w-600">aaaaaaa</div>
                                </div>
                                <div class="d-flex align-items-center p-5px-tb">
                                    <div><i
                                            class="fas fa-check icon icon-sm theme-color theme-bg-alt border-radius-50"></i>
                                    </div>
                                    <div class="p-10px-l font-w-600">aaaaaaa</div>
                                </div>
                                <div class="p-20px-t">
                                    <a class="m-btn w-100 m-btn-theme m-btn-radius" href="#">check out more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3 m-15px-tb">
                        <div class="price-table card box-shadow-hover transition hover-top border-radius-5">
                            <div class="pt-head p-20px-tb text-center border-bottom-1 border-color-gray">
                                <h5 class="blue-color font-w-700">heading 1</h5>
                                <div class="display-4 m-20px-t dark-color"><small
                                        class="align-top font-w-700 font-2">$</small>22</div>
                                <span class="d-block text-secondary font-size-1">title</span>
                            </div>
                            <div class="pt-body p-20px">
                                <div class="d-flex align-items-center p-5px-tb">
                                    <div><i
                                            class="fas fa-check icon icon-sm theme-color theme-bg-alt border-radius-50"></i>
                                    </div>
                                    <div class="p-10px-l font-w-600">aaaaaaa</div>
                                </div>
                                <div class="d-flex align-items-center p-5px-tb">
                                    <div><i
                                            class="fas fa-check icon icon-sm theme-color theme-bg-alt border-radius-50"></i>
                                    </div>
                                    <div class="p-10px-l font-w-600">aaaaaaa</div>
                                </div>
                                <div class="d-flex align-items-center p-5px-tb">
                                    <div><i
                                            class="fas fa-check icon icon-sm theme-color theme-bg-alt border-radius-50"></i>
                                    </div>
                                    <div class="p-10px-l font-w-600">aaaaaaa</div>
                                </div>
                                <div class="d-flex align-items-center p-5px-tb">
                                    <div><i
                                            class="fas fa-check icon icon-sm theme-color theme-bg-alt border-radius-50"></i>
                                    </div>
                                    <div class="p-10px-l font-w-600">aaaaaaa</div>
                                </div>
                                <div class="d-flex align-items-center p-5px-tb">
                                    <div><i
                                            class="fas fa-check icon icon-sm theme-color theme-bg-alt border-radius-50"></i>
                                    </div>
                                    <div class="p-10px-l font-w-600">aaaaaaa</div>
                                </div>
                                <div class="p-20px-t">
                                    <a class="m-btn w-100 m-btn-theme m-btn-radius" href="#">check out more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->

        <!-- Section -->
        <section class="section gray-bg border-bottom-1 border-color-gray">
            <div class="container">
                <div class="row section-title md-m-25px-b m-45px-b justify-content-center text-center">
                    <div class="col-lg-8">
                        <h3 class="display-4 dark-color m-10px-b">Creative People</h3>
                        <div class="lead">Here some content about the our team members Here some content about the our
                            team members </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6 m-15px-tb">
                        <div
                            class="box-shadow-hover hover-top transition overflow-hidden white-bg border-radius-5 card">
                            <div>
                                <img src="{% static 'img/team5.jpg' %}" title="" alt="">
                            </div>
                            <div class="p-20px text-center">
                                <h6 class="font-w-700 dark-color m-5px-b">Full Name</h6>
                                <small>Co-Founder</small>
                                <div class="social-icon si-30 theme radisu nav justify-content-center p-10px-t">
                                    <a href="../"><i class="fab fa-facebook-f"></i></a>
                                    <a href="../"><i class="fab fa-twitter"></i></a>
                                    <a href="../"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="../"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 m-15px-tb">
                        <div
                            class="box-shadow-hover hover-top transition overflow-hidden white-bg border-radius-5 card">
                            <div>
                                <img src="{% static 'img/team7.jpg' %}" title="" alt="">
                            </div>
                            <div class="p-20px text-center">
                                <h6 class="font-w-700 dark-color m-5px-b">Full Name</h6>
                                <small>Co-Founder</small>
                                <div class="social-icon si-30 theme radisu nav justify-content-center p-10px-t">
                                    <a href="../"><i class="fab fa-facebook-f"></i></a>
                                    <a href="../"><i class="fab fa-twitter"></i></a>
                                    <a href="../"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="../"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 m-15px-tb">
                        <div
                            class="box-shadow-hover hover-top transition overflow-hidden white-bg border-radius-5 card">
                            <div>
                                <img src="{% static 'img/team3.jpg' %}" title="" alt="">
                            </div>
                            <div class="p-20px text-center">
                                <h6 class="font-w-700 dark-color m-5px-b">Full Name</h6>
                                <small>Co-Founder</small>
                                <div class="social-icon si-30 theme radisu nav justify-content-center p-10px-t">
                                    <a href="../"><i class="fab fa-facebook-f"></i></a>
                                    <a href="../"><i class="fab fa-twitter"></i></a>
                                    <a href="../"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="../"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 m-15px-tb">
                        <div
                            class="box-shadow-hover hover-top transition overflow-hidden white-bg border-radius-5 card">
                            <div>
                                <img src="{% static 'img/team4.jpg' %}" title="" alt="">
                            </div>
                            <div class="p-20px text-center">
                                <h6 class="font-w-700 dark-color m-5px-b">Full Name</h6>
                                <small>Co-Founder</small>
                                <div class="social-icon si-30 theme radisu nav justify-content-center p-10px-t">
                                    <a href="../"><i class="fab fa-facebook-f"></i></a>
                                    <a href="../"><i class="fab fa-twitter"></i></a>
                                    <a href="../"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="../"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->

        <section class="section gray-bg">
            <div class="container">
                <div class="row section-title md-m-25px-b m-45px-b justify-content-center text-center">
                    <div class="col-lg-8">
                        <h3 class="display-4 dark-color m-10px-b">Frequently Asked Questions</h3>
                        <div class="lead">little discription little discription little discription little discription little discription little discription.</div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="accordion accordion-01">
                            <div class="acco-group white-bg acco-active">
                                <a href="#" class="acco-heading">first Question first Question first Question</a>
                                <div class="acco-des">first Question first Question first Questionfirst Questionfirst Questionfirst Questionfirst Questionfirst Question first Questionfirst Questionfirst Questionfirst Questionfirst Questionfirst Question.</div>
                            </div>
                            <div class="acco-group white-bg acco-active">
                                <a href="#" class="acco-heading">first Question first Question first Question</a>
                                <div class="acco-des">first Question first Question first Questionfirst Questionfirst Questionfirst Questionfirst Questionfirst Question first Questionfirst Questionfirst Questionfirst Questionfirst Questionfirst Question.</div>
                            </div>
                            <div class="acco-group white-bg acco-active">
                                <a href="#" class="acco-heading">first Question first Question first Question</a>
                                <div class="acco-des">first Question first Question first Questionfirst Questionfirst Questionfirst Questionfirst Questionfirst Question first Questionfirst Questionfirst Questionfirst Questionfirst Questionfirst Question.</div>
                            </div>
                            <div class="acco-group white-bg acco-active">
                                <a href="#" class="acco-heading">first Question first Question first Question</a>
                                <div class="acco-des">first Question first Question first Questionfirst Questionfirst Questionfirst Questionfirst Questionfirst Question first Questionfirst Questionfirst Questionfirst Questionfirst Questionfirst Question.</div>
                            </div>
                            <div class="acco-group white-bg acco-active">
                                <a href="#" class="acco-heading">first Question first Question first Question</a>
                                <div class="acco-des">first Question first Question first Questionfirst Questionfirst Questionfirst Questionfirst Questionfirst Question first Questionfirst Questionfirst Questionfirst Questionfirst Questionfirst Question.</div>
                            </div>
                        </div>

                        <div class="text-center p-20px-t">
                            <span class="text-small text-muted">Still have questions? <a class="font-w-700" href="contact">Contact Us</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section bg-no-repeat bg-center" style="background-image: url('{% static "img/banner-bg-4.png" %}');">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-7 text-center">
                        <h2 class="h1 dark-color font-w-700">Stay in the know</h2>
                        <p class="lead">To get notify Please enter your email</p>
                        <div class="p-15px-t">
                            <form class="d-flex flex-column flex-md-row m-5px-b">
                                <input type="email" class="form-control mr-sm-2 mb-2 mb-sm-0" placeholder="you@yoursite.com">
                                <button class="m-btn m-btn-theme m-btn-radius flex-shrink-0" type="submit">Get Started</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}

