{% load static %}
 <header class="header-nav header-white">
    <div class="fixed-header-bar">
        <div class="container">
            <div class="navbar navbar-default navbar-expand-lg main-navbar">
                <div class="navbar-brand">
                    <a href="../" class="logo">
                        <img src="{% static 'img/logo-dark-header.png' %}" class="light-logo" title="">
                        <img src="{% static 'img/logo-light-header.png' %}" class="dark-logo" title="">
                    </a>
                </div>

                <div class="navbar-collapse justify-content-end collapse" id="navbar-collapse-toggle">
                    <ul class="nav navbar-nav">
                        <li class="mm-in px-dropdown">
                            
                            <li>
                                <a href="/">Home</a>
                            </li>
    
                            <li>
                                <a href="../contact">Contact Us</a>
                            </li>
                            <li>
                                <a href="../about">About us</a>
                            </li>
    
                            <li>
                                <a href="../career">Career Page</a>
                            </li>
                       
                        </li>
                    </ul>
                </div>


                    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse-toggle" aria-expanded="false">
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>  

